{% extends "plantillaBase.html"  %}
{% block tituloPestana %} Menu Principal {% endblock %}
{% block tituloPrincipal %} {% endblock %}
{% block mensaje %}
{% if exito %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{exito}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% if error %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{error}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endblock %}
{% block contenido %}
{% endblock %}
{% block listado %}
{% load static %}
<style>
    .card{
      background-color: #121212;
      color: white;
    }

    .card{
    background-color: #121212;
    color: white;
    max-width:300px;
  }

</style>
<script src="{% static 'Images/videojuegos.js' %}"></script>
    
    <div class="container-fluid">
      <div class="row">
      
      {% for producto in productos %}
      {% if producto.categoria|slugify == 'accesorios' %}
       
      <div class="card col-md-4 col-4 text-center mx-auto mt-2 mb-4">
        <form class="form" method="post" action="{% url 'Videojuegos' %}" >
          {% csrf_token %}
        <a href="sl.html">
        <img src="{% static 'Images/juego6.jpg' %}" class="card-img-top img-fluid" alt="...">
        </a>
        <div class="card-body">
          <input hidden name="txtNombre1" value={{producto.nombre}}> </input>
          <input hidden name="txtConsola1" value={{producto.consola}}> </input>
          <input hidden name="txtPrecio1" value={{producto.precio}}> </input>
          <h5 name="txtNombre" value={{item.nombre}} class="card-title">{{producto.nombre}}</h5>
          <p class="inline card-text">$</p>
          <p id={{ producto.id }} name="txtPrecio" value={{item.precio}} class="inline card-text">{{ producto.precio}}</p>
          <p class="card-text">{{producto.descripcion}}<br> Stock: {{ producto.stock}} <br>Consola : {{ producto.consola}}</p>
          <div class="d-flex justify-content-center">
            
              <input type="submit" name="btnGuardar" value="Añadir al carrito" class="btn btn-primary" style="color: white; background-color: cyan; color: purple; border-color: purple;">
            
        </input>
        </form>
        </div>
      </div>
      </div>
      {% endif %} 
      
    {% endfor %}
      </div>
  </div>
  <div class="container-fluid"> 
<row>
    <button  type="button" class="btnDivisaCLP btn-primary col-md-12 col-12" id="btnDivisaCLP"  style="color: white; background-color: cyan; color: purple; border-color: purple; visibility:hidden; ">
      Cambiar precios a CLP
    </button>
  </row>
  <row>
    <button type="button" class="btnDivisa btn-primary col-md-12 col-12" id="btnDivisa" style="color: white; background-color: cyan; color: purple; border-color: purple;">
      Cambiar precios a USD
    </button>
    </row>

  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="color: white; background-color: #121212;">
      <div class="modal-header">
        <h1 class="modal-title fs-5"  id="exampleModalLabel">Añadir al carrito</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" >
        ¿Seguro que desea añadir al carrito?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" style="background-color: rgb(170, 0, 94); border-color: aqua;"" data-bs-dismiss="modal">Añadir al carrito</button>
      </div>
    </div>
  </div>
  
</div>
<a hidden id="longitud"> {{productos.count}}</a>
</body>
</html>
{% endblock %}