{% extends "plantillaBase.html"  %}
{% block tituloPestana %} Menu Principal {% endblock %}
{% block tituloPrincipal %} {% endblock %}
{% block mensaje %}
{% if exito %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{exito}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% if error %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{error}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endblock %}
{% block contenido %}
{% endblock %}
{% block listado %}
{% load static %}

<script src="{% static 'Images/carro.js' %}"></script>
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-10">

        <div class="d-flex justify-content-between align-items-center mb-4">
          
            <h3 class="fw-normal mb-0">Carro de compras</h3>
          <div>
          </div>
        </div>
        {% for carro in carro %}
        
        <div class="card mb-4">
          <div class="card-body p-4">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="col-md-2 col-lg-2 col-xl-2">
                <img
                src="{% static 'Images/juego4..jpg' %}"
                  class="img-fluid" alt="...">
              </div>
              <div class="col-md-3 col-lg-3 col-xl-3">
                <p class="lead fw-normal mb-2">{{ carro.nombre}}</p>
                <p><span class="text-muted">Consola: </span>{{ carro.consola}}
              </div>
              <div class="col-md-3 col-lg-3 col-xl-2 d-flex">

                <input id="form1" min="0" name="quantity" value="1" type="number"
                  class="form-control form-control-sm" />

              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                <p class="inline card-text">$</p>
                <p id={{ carro.id }} class="inline card-text">{{ carro.id}}</p>
              </div>
              <div class="col-md-2 col-lg-2 col-xl-2 text-end">
                <td><a href="{% url 'eliminarCarro' pk=carro.id %}" class="btn btn-danger">Eliminar</a></td>
              </div>
            </div>
          </div>
        </div>
      
    {% endfor %}



        <div class="card mb-4">
          <div class="card-body p-4 d-flex flex-row">
            <div data-mdb-input-init class="form-outline flex-fill">
              <input type="text" id="form1" class="form-control form-control-lg" />
              <label class="form-label" for="form1">Codigo de descuento</label>
            </div>
            <button type="button"  class="btn2 btn btn-lg ms-3">Aplicar</button>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <p class="lead inline fw-normal mb-2">Total a pagar: $</p>
            <p id="precio5" class="lead inline fw-normal mb-2">29.990</p>
            <button type="button" class="btn2 btn btn-block btn-lg">Proceder con el pago</button>

          </div>
        </div>

      </div>
      <button  type="button" class="btnDivisaCLP btn-primary" id="btnDivisaCLP"  style="color: white; background-color: cyan; color: purple; border-color: purple; visibility:hidden; ">
        Cambiar precios a CLP
      </button>
  
      <button type="button" class="btnDivisa btn-primary" id="btnDivisa" style="color: white; background-color: cyan; color: purple; border-color: purple;">
        Cambiar precios a USD
      </button>
    </div>
  </div>

</body>
</html>
{% endblock %}