{% extends "plantillaBase.html"  %}
{% block tituloPestana %} Menu Principal {% endblock %}
{% block tituloPrincipal %} {% endblock %}
{% block mensaje %}
{% if exito %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{exito}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% if error %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{error}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endblock %}
{% block contenido %}
{% load static %}
<form class="form" method="post" action="{% url 'producto' pk=item.id %}" >
  {% csrf_token %}
<script src="producto.js"></script>


  <div class="container-fluid">
    <div class="row justify-content-center col-12 pt-5">
      <div class="col-8 col-md-3 pt-4">
        <img src="static/{{item.imagen}}" alt="producto" style="width:100%;">
      </div>




      <div class="col-9 col-md-4 pt-5 pb-5">
        <dl>
          <h3>{{item.nombre}}</h3>
          
          <br>

          <h5>Detalles:</h5>
          
          <dd>Categoria: {{item.categoria}}</dd>

          <dd>Consola: {{item.consola}}</dd>

          <dd>Stock: {{item.stock}}</dd>


          <h5>Descripción:</h5>

          <dd>{{item.descripcion}}</dd>

         
          <h5 class="inline card-text">Precio: $</h5>
          <h5 id="precio" class="inline card-text">{{item.precio}}</h5>
          
          
        </dl>
        <br>
        {% if item.stock > 0 %}
        <input type="submit" name="btnGuardar" value="Añadir al carrito" class="btn btn-primary" style="color: white; background-color: cyan; color: purple; border-color: purple;">
        {% endif %}
        {% if item.stock == 0 %}
        <h5 class="card-title">Producto fuera de stock!</h5>
        {% endif %}

      </form>
      </div>



      <button  type="button" class="btnDivisaCLP btn-primary" id="btnDivisaCLP"  style="color: white; background-color: cyan; color: purple; border-color: purple; visibility:hidden; ">
        Cambiar precios a CLP
      </button>
  
      <button type="button" class="btnDivisa btn-primary" id="btnDivisa" style="color: white; background-color: cyan; color: purple; border-color: purple;">
        Cambiar precios a USD
      </button>




      

    </div>
  </div>

  </body>
</html>
{% endblock %}
{% block listado %}
{% endblock %}