{% extends "plantillaBase.html"  %}
{% block tituloPestana %} Menu Principal {% endblock %}
{% block tituloPrincipal %} {% endblock %}
{% block mensaje %}
{% if exito %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{exito}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% if error %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{error}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endblock %}
{% block contenido %}
{% load static %}
<script src="{% static 'Images/registro.js' %}"></script>
    <!--signin-->
    <div class="container-fluid">
      <div class="row justify-content-center">

        <!--signin-->
        <div class="col-10 col-md-4 mt-5">
          <form class="form" method="post" action="{% url 'Login' %}">
            {% csrf_token %}

            <div class="form-group mb-4">
               <b>¿Ya tienes una cuenta?</b>
               <h2>INICIA SESION</h2>
              <label for="exampleInputEmail1">
                Correo Electronico
              </label>
              <input type="email" name="loginCorreo" class="loginEmail form-control" id="exampleInputEmail1" placeholder="ejemplo@email.com" style="color: white; background-color: #121212; border-color: cyan; "/>
            </div>

            <div class="form-group mb-3">
              <label for="exampleInputPassword1">
                Contraseña
              </label>
              <input type="password" name="loginClave" class="loginClave form-control" id="exampleInputPassword1" style="color: white; background-color: #121212; border-color: cyan;"/>
            </div>

            <div class="checkbox2 m-3" style="font-size:12px;">
              <label>
                <input type="checkbox" class="checkbox2"/> Mantener la sesion iniciada
              </label>
            </div>

            <input type="button" name="btnLogin" class="btnLogin" value="Ingresar" style="color: white; background-color: cyan; color: purple; border-color: purple;">
          </input>

            </div>
            <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content" style="color: white; background-color: #121212;">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5"  id="exampleModalLabel">Añadir al carrito</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body" >
                    ¿Seguro que desea hacer login?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <input type="submit" name="btnGuardar1" value="Guardar" class="btn btn-primary" style="color: white; background-color: cyan; color: purple; border-color: purple;">
                  </input>
                  </div>
                </div>
              </div>
            </div>
          
          </form>

        

        <!--registro-->
        <div class="col-10 col-md-4 m-4 mb-5 mt-md-5 ">
          <form class="form" method="post" enctype="multipart/form-data" action="{% url 'Registro' %}">
            {% csrf_token %}
            
            <div class="form-group mb-4">
              <b>¿Nuevo Usuario?</b>
              <h2>REGISTRATE</h2>
              <label for="exampleInputEmail1">
                Nombre de Usuario
              </label>
              <input type="hidden" name="txtId" value="0{{item.id}}">
              <input type="" name="txtNombre" value="{{item.nombre}}" class="txtUsuario form-control" id="exampleInputEmail1" placeholder="Usuario" style="color: white; background-color: #121212; border-color: cyan;"/>
            </div>

            <div class="form-group mb-4">
              <label for="exampleInputEmail1">
                RUT (Sin puntos y con guion)
              </label>
              <input type="" name="txtRut" value="{{item.rut}}"  class="txtRut form-control" id="exampleInputEmail1" placeholder="12.345.678-9" style="color: white; background-color: #121212; border-color: cyan;"/>
            </div>


            <div class="form-group mb-4">
              <label for="exampleInputEmail1">
                Correo Electronico
              </label>
              <input type="email" name="txtCorreo" value="{{item.correo}}"  class="txtEmail form-control" id="txtEmail" placeholder="ejemplo@email.com" style="color: white; background-color: #121212; border-color: cyan;"/>
            </div>

            <div class="form-group mb-4">
              <label for="exampleInputEmail1">
                Telefono
              </label>
              <input type="" name="txtTelefono" value="{{item.telefono}}"  class="txtTelefono form-control" id="exampleInputEmail1" placeholder="+56 1 2345 6789" style="color: white; background-color: #121212; border-color: cyan;"/>
            </div>

            <div class="form-group mb-4">
              <label for="exampleInputEmail1">
                Fecha de Nacimiento
              </label>
              <input type="" name="txtNacimiento" value="{{item.nacimiento}}" class="txtFechaNacimiento form-control" id="exampleInputEmail1" placeholder="12/13/2014" style="color: white; background-color: #121212; border-color: cyan;"/>
            </div>

            
            <div class="form-group mb-4">
              <label for="exampleInputEmail1">
                Direccion
              </label>
              <input type="" name="txtDireccion" value="{{item.direccion}}"  class="txtDireccion form-control" id="exampleInputEmail1" placeholder="Calle Larga 1234" style="color: white; background-color: #121212; border-color: cyan;"/>
            </div>

            
            
            <div class="form-group mb-4">
              <label for="exampleInputEmail1">
                Region<br>
              </label>
              <select name="cmbRegion" value="{{item.region}}"  class="txtRegion form-select form-select-md mb-3" aria-label=".form-select-md example" style="color: white; background-color: #121212; border-color: cyan;">
                <option selected>Seleccione una region...</option>
                <option value="Arica" {% if "Arica" == item.region %}selected {% endif %}>Arica</option>
                <option value="Tarapaca"{% if "Tarapaca" == item.region %}selected {% endif %}>Tarapaca</option>
                <option value="Antofagasta"{% if "Antofagasta" == item.region %}selected {% endif %}>Antofagasta</option>
                <option value="Atacama"{% if "Atacama" == item.region %}selected {% endif %}>Atacama</option>
                <option value="Coquimbo"{% if "Coquimbo" == item.region %}selected {% endif %}>Coquimbo</option>
                <option value="Valparaiso"{% if "Valparaiso" == item.region %}selected {% endif %}>Valparaiso</option>
                <option value="Metropolitana"{% if "Metropolitana" == item.region %}selected {% endif %}>Metropolitana</option>
                <option value="O'Higgins"{% if "O'Higgins" == item.region %}selected {% endif %}>O'Higgins</option>
                <option value="Maule"{% if "Maule" == item.region %}selected {% endif %}>Maule</option>
                <option value="Ñuble"{% if "Ñuble" == item.region %}selected {% endif %}>Ñuble</option>
                <option value="Biobio"{% if "Biobio" == item.region %}selected {% endif %}>Biobio</option>
                <option value="Araucania"{% if "Araucania" == item.region %}selected {% endif %}>Araucania</option>
                <option value="Los Rios"{% if "Los Rios" == item.region %}selected {% endif %}>Los Rios</option>
                <option value="Los Lagos" {% if "Los Lagos" == item.region %}selected {% endif %}>Los Lagos</option>
                <option value="Aysen" {% if "Aysen" == item.region %}selected {% endif %}>Aysen</option>
                <option value="Magallanes"{% if "Magallanes" == item.region %}selected {% endif %}>Magallanes</option>
              </select>
            </div>
            

            <div class="form-group mb-4">
              <label for="exampleInputPassword1">
                Contraseña
              </label>
              <input type="password" name="txtContraseña"  value="{{item.contraseña}}"  class="txtClave form-control" id="txtClave" style="color: white; background-color: #121212; border-color: cyan;"/>
            </div>
            
            <div class="form-group mb-3">
              <label for="exampleInput">
                Repetir Contraseña
              </label>
              <input type="password" class="txtClaveVer form-control" id="txtClave" style="color: white; background-color: #121212; border-color: cyan;"/>
            </div>

            <div class="form-group mb-4">
              <label for="exampleInputEmail1">
                Tipo de Usuario<br>
              </label>
              <select name="txtTipo" class="txtTipo form-select form-select-md mb-3" aria-label=".form-select-md example" style="color: white; background-color: #121212; border-color: cyan;">
                <option value=0 selected>Seleccione un tipo...</option>
                {% for objecto in tipoUsuario %}
                <option value="{{objecto.nombre}}" {% if objecto.id == item.tipoUsuario.id %}selected {% endif %}>{{objecto.nombre}}</option>
                {% endfor%}
              </select>
            </div>
            
            <div class="form-group mb-4">
              <label for="exampleFormControlFile1">Imagen de usuario (Opcional) </label>
              <input type="file" class="txtImagen form-control-file" name="txtImagen" value="{{item.imagen}}" id="exampleFormControlFile1" style="color: white; background-color: #121212; border-color: cyan;">
              <input hidden type="text" class="txtImagen1 form-control-file" name="txtImagen1" value="{{item.imagen}}" id="exampleFormControlFile1" style="color: white; background-color: #121212; border-color: cyan;">
            </div>

            <div class="checkbox m-3" style="font-size:12px;">
              <label>
                <input type="checkbox" class="checkbox" /> Acepto los terminos y condiciones
              </label>
            </div> 

            <input type="button" name="btnEnviar" href="Registro" class="btnEnviar" value="Registrarme" style="color: white; background-color: cyan; color: purple; border-color: purple;">
          </input>

        </div>
      </div>

    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content" style="color: white; background-color: #121212;">
          <div class="modal-header">
            <h1 class="modal-title fs-5"  id="exampleModalLabel">Añadir al carrito</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" >
            ¿Seguro que desea registrarse?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <input type="submit" name="btnGuardar" value="Guardar" class="btn btn-primary" style="color: white; background-color: cyan; color: purple; border-color: purple;">
          </input>
          </div>
        </div>
      </div>
      
    </div>
  </form>



    
  </body>
</html>
{% endblock %}
{% block listado %}
<div class="row">
  <div class="col-12">
      <table class="table table-responsive">
          <tr>
              <th>URL Imagen</th>
              <th>Email</th>
              <th>Nombre</th>
              <th>Rut</th>
              <th>Direccion</th>
              <th>Region</th>
              <th>Telefono</th>
              <th>Fecha Nacimiento</th>
              <th>Modificar</th>
              <th>Eliminar</th>
          </tr>
{% for usuario in listado %}
          <tr>
              <td>{{usuario.imagen}}</td>
              <td>{{usuario.correo}}</td>
              <td>{{usuario.nombre}}</td>
              <td>{{usuario.rut}}</td>
              <td>{{usuario.direccion}}</td>
              <td>{{usuario.region}}</td>
              <td>{{usuario.telefono}}</td>
              <td>{{usuario.nacimiento}}</td>
              <td><a href="{% url 'buscarUsuario' pk=usuario.pk %}">Modificar</a></td>
              <td><a href="{% url 'eliminarUsuario' pk=usuario.pk %}" class="btn btn-danger">Eliminar</a></td>
          </tr>
{% endfor %}
      </table>
  </div>
</div>
{% endblock %}